[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under different user or group, 
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

# Innodb settings
innodb_file_per_table

character_set_server=utf8

# Skip logging openfire db (for instant messaging)
# The 'monitor' openfire plugin creates large tuleap-bin files
# Comment this line if you prefer to be safer.
binlog-ignore-db=openfire
log-bin=tuleap-bin

max_allowed_packet=128M

# Reduce default inactive timeout (prevent DB overload in case of nscd
# crash)
wait_timeout=180

[mysqld_safe]
log-error=/var/log/mysql55-mysqld.log
pid-file=/opt/rh/mysql55/root/var/run/mysqld/mysqld.pid
